

@model WebBanHangOnline.Models.OrderViewModel
@{
    ViewBag.Title = "CheckOut";
}



<link rel="stylesheet" type="text/css" href="~/Content/assets/plugins/jquery-ui-1.12.1.custom/jquery-ui.css">
<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/categories_styles.css">
<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/categories_responsive.css">
<style>
    .error{
        color: red;
    }
</style>

<div class="container product_section_container">
    <div class="row">
        <div class="col product_section clearfix">

            <!-- Breadcrumbs -->

            <div class="breadcrumbs d-flex flex-row align-items-center">
                <ul>
                    <li><a href="index.html">Trang Chủ</a></li>
                    <li class="active"><a href="index.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Giỏ Hàng</a></li>
                </ul>
            </div>

            <!-- Main Content -->
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1>Thanh Toán</h1>
                    <p>Bạn hãy kiểm tra lại đơn hàng cho chính xác !</p>
                </div>
            </div>
            <hr />
            @if (ViewBag.CheckCart != null)
            {
                <div class="row">
                    <div id="show_success"></div>
                    <div class="col-md-8">
                        @Html.Action("Partial_CheckOut", "ShoppingCart")

                    </div>
                    <div class="col-md-4">
                        @Html.Action("Partial_Item_CheckOut", "ShoppingCart")
                    </div>

                </div>
            }
            else
            {
                <div class="text-center">Bạn chưa chọn sản phẩm nào, vui lòng quay lại trang <a href="/san-pham">sản phẩm</a> để chọn</div>
            }

        </div>
    </div>
</div>

@section scripts{
    <script src="~/Content/assets/js/categories_custom.js"></script>
    <script>
        $(document).ready(function () {
            $("#myForm").validate({
                rules: {
                    'CustomerName': {
                        required: true
                    },

                    'Phone': {
                        required: true
                    },

                    'Address': {
                        required: true
                    },
                    'Email': {
                        email: true
                    },


                },
                messages: {
                    'CustomerName': 'Bạn không được để trống họ tên !',
                    'Phone': 'Bạn không được để trống số điện thoại !',
                    'Address': 'Bạn không được để trống địa chỉ nhận hàng !',
                    'Email': 'Bạn vui lòng nhập đúng định dạng email !'
            }

            });
        });

        function OnSuccessCO(rs) {
            if (!rs.Success) {
                $("#show_success").html("Bạn mua hàng thất bại, vui lòng thử lại");
            }
        }
    </script>
}


